.button {
  outline: none;
}

.active {
  position: relative;

  &::before{
    content: '';
    position: absolute;
    top: -7.5%;
    left: 50%;
    width: 2px;
    height: 115%;
    background-color: black;
    transform: rotate(45deg) translate(-50%, 0);
  }
}